@page
@model LessonExercise_01.Pages.KrisInfoListaModel
@{
}

<ul>
    @foreach (var item in Model.Items)
            {
                <li>
                    <a asp-page="/KrisInfoArticle" asp-route-articleid="@item.Id">
                        @item.Title
                    </a>
                </li>
            }
</ul>
