@page
@model LessonExercise_01.Pages.PlayersModel
@{
}

<ul>
    @foreach (var playersName in Model.Players)
    {
        <li>@playersName</li>
    }
</ul>

<hr />
<a asp-page="/GenerateNumber">Till GenerateNumber</a>